#name-user-profil {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 40px;
  position: absolute;
  inset: 0;
  top: 89px;
  margin-left: 24px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-shadow: 4px 4px 6px #000000;
}
