.btn-create-band {
  width: 95px;
  height: 28px;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#name-user {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 40px;
  position: absolute;
  inset: 0;
  top: 110px;
  margin-left: 24px;
  height: fit-content;
  width: fit-content;
  text-shadow: 4px 4px 6px #000000;
}

.banner-user-profil {
  position: relative;
}

.user-pill .music-style {
  margin-right: -9px;
}

.user-pill .music-style:first-child {
  margin-right: 8px;
}


.pill-profil-instrument {
  position: absolute;
  top: 23px;
  left: 33em;
}

.city-in-card {
  position: absolute;
  top: 19em;
  left: 25em;
}

.btn-disconnect {
  position: fixed;
  right: 20px;
  top: 26px;
  width: 92px;
  height: 28px;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.pills-profil-user {
  display: flex;
  margin: 2em 8em 0em;
}
