.btn-create-band {
  width: 92px;
  height: 28px;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
