<div class="body-homepage" style="background-image: url(<%= image_path "ampli.jpg"%>);">
  <div class="logo">
    <%= image_tag "logo.png"%>
  </div>

  <div class="catch title-band-banner">
    <h1>FIND A HOT BAND IN YOUR AREA</h1>
  </div>

  <div class="btn-home">
    <button class="btn-primary btn-sign-up">Sign-up</button>
  </div>

</div>
