<div class="body-homepage-home" style="background-image: url(<%= image_path "ampli.jpg"%>);">
  <div class="logo">
    <%= image_tag "logo.png"%>
  </div>

  <div class="catch title-band-banner">
    <h1>FIND A HOT BAND IN YOUR AREA</h1>
  </div>



  <% if user_signed_in? %>
    <div class="btn-home">
      <%= link_to "Meetsicians", bands_path, class: "btn-primary btn-meetsicians" %>
    </div>
  <% else %>
    <div class="btn-home">
      <%= link_to "Sign-up", new_user_session_path, class: "btn-primary btn-meetsicians" %>
    </div>
  <% end %>

</div>
