.chats-banner{
  height: 148px;
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
}

.band-chat-avatar{
  width: 57px;
  height: 57px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
  object-fit: cover;
}

.container-chats{
  height: calc(100dvh - 210px);
  overflow: scroll;
  margin-top: 25px;
  padding-bottom: 54px;
}

.chat-avatar{
  border-radius: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  inset: -575px 0 0;
  margin: auto;
}

.link-chat{
  text-decoration: none;
  color: white;
  display: flex;
}

.message{
  border-bottom: 1px solid white;
  display: flex;
  padding: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.visible{
  // background-color: red;
  height: 15px;
  width: 15px;
  display: flex;
  align-self: center;
  border-radius: 100%;
  margin-left: auto;
  background: rgb(255, 0, 0);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 1.5s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

