.banner-chatroom img{
  position: fixed;
  top: 0;
  height: 200px;
  object-fit: cover;
}

.container-chat {
    height: calc(100dvh - 200px);
    overflow: scroll;
}

.chatroom {
  margin-top: 9px;
  height: calc(100dvh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    padding: 1rem;
    padding-bottom: 239px;
    height: 100%;
    overflow: scroll;
  }
}

#new_message {
  border-top: 1px solid white;
  padding: 1rem;
  position: fixed;
  bottom: 54px;
  width: 100%;

  .form-group {
    margin-bottom: 0;
  }
}

.title-chatroom {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 31px;
  text-shadow: 4px 4px 6px #000000;
  margin-top: auto;
  text-align: center;
}

.bloc-new-message {
  display: flex;
  align-items: center;
}

#message_content {
  border: none;
}

#new_message {
  padding-bottom: 10px;
  background-color: black;

}
.button-send-message {
  border: none;
  height: 45px;
  width: 45px;
  background-color: black;
  right: 0;
  color:red;
  border-radius: 50px;
  text-align: center;
  font-size: 29px;
  margin-right: 15px;
}

.banner-dicussion-chat {
  height: 120px;
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
}

.add-btn {
  width: 95px;
  height: 28px;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: auto;
}
