.chats-banner{
  height: 148px;
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
}

.band-chat-avatar{
  width: 57px;
  height: 57px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
  object-fit: cover;
}

.container-chats{
  height: calc(100dvh - 210px);
  overflow: scroll;
  margin-top: 25px;
  padding-bottom: 54px;
}

.chat-avatar{
  border-radius: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  inset: -575px 0 0;
  margin: auto;
}

.link-chat{
  text-decoration: none;
  color: white;
  display: flex;
}

.message{
  border-bottom: 1px solid white;
  display: flex;
  padding: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 13px;
}
