.banner-messenger{
  height: 150px;
}

.container-chats{
  height: calc(100dvh - 200px);
  overflow: scroll;
}

.chat-avatar{
  border-radius: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  inset: -500px 0 0;
  margin: auto;
}

.link-chat{
  text-decoration: none;
  color: white;
  display: flex;
}

.band-chat-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
}

.container-chats{
  margin-top: 65px;
}

.message{
  border-bottom: 1px solid white;
  display: flex;
  padding: 15px;
}
