.footer {
position: fixed;
width: 100%;
height: 54px;
bottom: 0;
background: #191919;
box-shadow: -4px -4px 4px 4px rgba(156, 74, 139, 0.06);
}

a.footicon {
  font-size: 22px;
  text-decoration: none;
  color: #646262;
}

.nav-link.active .footicon {
  color:#FF082A
}
