.message-row {
  margin-bottom: 15px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 65%;
  max-width: 400px;
  padding: 10px;
  min-height: 60px;
}

.sender-style {
  background-color: #2A2A2A;
  border-radius: 25px 0px 25px 25px;
}

.receiver-style {
  background-color: #FF082A;
  border-radius: 0px 25px 25px 25px;
}

.message-content{
  margin-bottom: 0px;
  padding-left: 10px;
}
