
.oce-dropdown {
  border: solid white 1px;
  width: 100%;
  padding: 13px;
  background-color: black;
  margin-top: 15px;
  border-radius: 30px;

  &-input {
    width: 100%;
    border-radius: 10px;
    background: none;
    color: white;
    border: none;
    padding: 0;
    margin-bottom: 2px;
    width: 120px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding-left: 10px;

    &:active, &:focus {
      outline: none;
      border: none;
    }
  }

  &-menu-list {
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-menu-item {
    padding: 7px;
    margin: 3px 0px 3px 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-top: 0.5px solid white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #7f7f7f;
    text-transform: capitalize;

    &.selected {
      border: solid white 1px;
      border-radius: 30px;
      font-weight: bold;
      color: white;
      & + .oce-dropdown-menu-item {
        border: none;
      }
      &::after {
        content: "\f00c";
        color: red;
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
      }
    }
    &:first-child {
      border:none;
      &.oce-dropdown-menu-item.selected {
        border: solid white 1px;
        border-radius: 30px;
        font-weight: bold;
      }
    }
  }

  &:has(.dropped) .oce-dropdown-input {
    padding: 8px;
    border: solid white 1px;
    outline: none;
    width: 100%;
    padding-right: 2px;
  }

  &-container {
    position: relative;
    z-index: 1;
    width: 180px;
    &-instrument {
      position: relative;
      z-index: 1;
      width: 180px;
    }
  }
}
