.delete-button{
  background-color: black;
  border: 2px solid white;
  padding: 6px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
  position: absolute;
  left: 20em;
}
