.delete-button{
  background-color: transparent;
  border: none;
  position: absolute;
  left: 18em;
  color: #FF082A;
  margin-top: 18px;
}

.height-input-edition{
  margin-top: 6em;
}

.input-edit-band{
  border-radius: 25px;
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 30px;
  margin: 0em 14px;
  &:focus-visible {
    outline: none;
    border: none;
  }
}


.bio-edit-band{
  border-radius: 25px;
  background-color: transparent;
  border: none;
  color: white;
  width: 85%;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin-top: 2em;
  height: 16em;
  margin-left: 2em;
  text-align: justify;
  margin-bottom: 1em;
  &:focus-visible {
    outline: none;
    border: none;
  }
}

.pop-up-edit {
  margin-top: 1em;
}

#edit-member-page-button{
  margin-left: 2em;
  margin-top: 19em;
}

#padding-style-music {
  margin-bottom: 2em;
}


.button-edition-band{
  background-color: black;
  border-radius: 100px;
  color: #FF082A;
  border: 2px solid #FF082A;
  justify-content: center;
  padding: 13px;
  margin-left: 140px;
  font-family: 'Poppins', sans-serif;
  width: 7em;
  font-weight: 700;
  margin-bottom: 60px;
}

.button-edition-band::before {
  font-family: 'Font Awesome 6 Free';
  content: "\f068";
  font-weight: 900;
  color: white;
}

.band-banner-edit {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.band-avatar-edition {
  top: 119px;
  left: 138px;
  z-index: 3;
  border-radius: 100px;
  width: 138px;
  height: 138px;
  position: absolute;
  object-fit: cover;
  object-fit: cover;
}

.photo-preview-form-edit {
  height: 180px;
  width: 414px;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}

.custom-avatar-input{
  top: 119px;
  left: 138px;
  z-index: 4;
  border-radius: 100px;
  width: 138px;
  height: 138px;
  position: absolute;
  object-fit: cover;
  object-fit: cover;
  border: 1px solid white;
}

.custom-file-label-photo{
  z-index: 3;
  position: absolute;
  background-color: #FF082A;
  border: 2px solid white;
  padding: 6px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
  object-fit: cover;
  object-fit: cover;
}

.custom-file-label-avatar {
  position: absolute;
  background-color: #FF082A;
  border: 2px solid white;
  padding: 6px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
  z-index: 5;
  object-fit: cover;
  object-fit: cover;
}

.edition-city{
  width: 26%;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  background: #121212;
  border-radius: 6px;
  padding: 5px;
}


.height-input-edition #band_needed_instrument_id{
  margin-top: 22px;
  background-color: black;
  color: #A4A3A3;
  border: 1px solid #FF082A;
  text-decoration: none;
  border-radius: 7px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 17px;
  width: 40%;
  text-align: center;
  margin-left: 18px;
}


.height-input-edition #band_style_id{
  margin-top: 22px;
  background-color: black;
  color: #A4A3A3;
  border: 1px solid #FF082A;
  text-decoration: none;
  border-radius: 7px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 17px;
  width: 40%;
  text-align: center;
  margin-left: 31px;
}

.input-edit-url {
  border-radius: 25px;
  background-color: transparent;
  border: none;
  color: #A4A3A3;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}


.input-edit-url:focus-visible {
  outline: none;
  border: none;
}

.name-input-page-edition {
  border: 0.5px solid white;
  border-radius: 15px;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 6px 0px 6px 0px;
  margin: 3px 15px 28px;
}

.padding-navbar-edit {
  margin-bottom: 53px;
}

.back-btn-pop-edit {
  position: absolute;
  color: white;
  left: 1px;
  top: 23px;
  background-color: #191919;
  border: 2px solid #191919;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  z-index: 100;
  font-size: 24px;
}

.padding-modal-header {
  margin-top: 4em;
}

.input-city-edition-style {
  border-radius: 25px;
  background-color: transparent;
  border: none;
  color: #A4A3A3;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  &:focus-visible {
    outline: none;
    border: none;
  }
}

.name-city-edition {
  border-radius: 6px;
  background: #191919;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px 0px 5px 0px;
  margin: 4px 126px 10px;
}
