
.card-band {
  border-radius: 10px;
  overflow: hidden;
  &-infos {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.name-band {
  text-shadow: 4px 4px 6px #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;
}
.needed-instrument-pill{
  background-color: rgba(255, 8, 42, 0.8);
  border-radius: 6px;
  padding: 6px;
  font-size: 15px;
  text-shadow: 1px 1px 1px #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-inline: 15px;
}

.banner {
  height: 245px;
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
}

#filter-banner {
  filter: brightness(50%);
}

.title-band-banner {
  filter: revert;
  font-size: 32px;
  text-align: center;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 60px rgb(255, 11, 11),
    0 0 90px red,
    0 0 100px red,
    0 0 120px red,
    0 0 180px red,
    0 0  110px red;
  padding-bottom: 18px;
  font-family: 'Istok Web', sans-serif;
  font-weight:400;
}

.search-bar-black{
  display: flex;
  width: 100%;
  border: none;
  height: 50px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid white;
}

.button-search{
  border: none;
  padding: 11px;
  padding-right: 20px;
  background: white;
  right: 0;
  background-color: black;
}

.input-search-bands {
  background-color: black;
  height: 45px;
  border: none;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  &:focus{
    outline: none;
  }
}


.icon-search-bar {
  font-size: 22px;
  color: white;
  padding: 11px;
}

.filter-search {
  display: flex;
  justify-content: space-between;
}

.position-city-in-card {
  bottom: 177px;
  left: 266px;
}
