.card-band {
  border-radius: 10px;
  overflow: hidden;
}
.card-band-infos {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.name-band {
  text-shadow: 4px 4px 6px #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;
}
.needed-instrument-pill{
  background-color: rgba(255, 8, 42, 0.43);
  border-radius: 6px;
  padding: 6px;
  font-size: 15px;
  text-shadow: 1px 1px 1px #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.banner {
  background-size: cover;
  background-position: center;
}
.banner {
  height: 245px;
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
}

#filter-banner {
  filter: brightness(50%);
}

.title-band-banner {
  filter: revert;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 60px rgb(255, 11, 11),
    0 0 90px red,
    0 0 100px red,
    0 0 120px red,
    0 0 180px red,
    0 0  110px red;
  padding-bottom: 18px;
  font-family: 'Istok Web', sans-serif;
  font-weight:400;
}
.search-bar-black{
  display: flex;
  width: 100%;
  border: none;
  height: 50px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid white;
}

.button-search{
  border: none;
  padding: 11px;
  padding-right: 20px;
  background: white;
  right: 0;
  background-color: black;
}

.input-search-bands {
  background-color: black;
  height: 45px;
  border: none;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.input-search-bands:focus{
  outline: none;
}

.icon-search-bar {
  font-size: 22px;
  color: white;
  padding: 11px;
}

.oce-dropdown {
  border: solid white 1px;
  width: 100%;
  padding: 13px;
  background-color: black;
  margin-top: 15px;
  border-radius: 30px;
}

.oce-dropdown-input {
  width: 100%;
  border-radius: 10px;
  background: none;
  color: white;
  border: none;
  padding: 0;
  margin-bottom: 2px;
  width: 120px;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}
.oce-dropdown:has(.dropped) .oce-dropdown-input {
  padding: 8px;
}

.oce-dropdown-menu-list {
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.oce-dropdown-input:active, .oce-dropdown-input:focus {
  border: solid white 1px;
  outline: none;
  width: 100%;
  padding: 2px;
}

.oce-dropdown-menu-item {
  padding: 7px;
  margin: 3px 0px 3px 0px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  border-top: 0.5px solid white;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  color: #7f7f7f;
  text-transform: capitalize;
}

.oce-dropdown-menu-item.selected {
  border: solid white 1px;
  border-radius: 30px;
  font-weight: bold;
  color: white;
}

.oce-dropdown-menu-item.selected::after {
  content: "\f00c";
  color: red;
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

.oce-dropdown-container {
  position: relative;
  z-index: 1;
  width: 180px;
}

.filter-search {
  display: flex;
  justify-content: space-between;
}

.oce-dropdown-container-instrument {
  position: relative;
  z-index: 1;
  width: 180px;
}

.oce-dropdown-menu-item:first-child {
  border:none;
}

.oce-dropdown-menu-item:first-child.oce-dropdown-menu-item.selected {
  border: solid white 1px;
  border-radius: 30px;
  font-weight: bold;
}

.oce-dropdown-menu-item.selected + .oce-dropdown-menu-item {
  border: none;
}
