.banner-creation-band {
  background-color: #646262;
  height: 180px;
  width: 100%;
  position: relative;
}

.creation-picture {
  background-color: white;
  border-radius: 100%;
  position: absolute;
  width: 138px;
  height: 138px;
  inset: 185px 0 0;
  margin: auto;
}

.form-new-container {
  margin-left: 6px;
}

.input-creation-style {
  border-radius: 25px;
  background-color: transparent;
  border: none;
  color: white;
  width: 369px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.padding-form-creation {
  margin-top: 98px;

}

.button-creation-band {
  background-color: white;
  border-radius: 25px;
  color: black;
  justify-content: center;
  padding: 13px;
  margin-left: 126px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 2em;
}

.center-button-new {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

#band_needed_instrument_id {
  margin-top: 14px;
    background-color: #A4A3A3;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 18px;
    margin-bottom: 17px;
    width: 378px;
    text-align: center;
}

#band_style_id{
  background-color: #A4A3A3;
  text-decoration: none;
  border-radius: 7px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 18px;
  width: 378px;
  text-align: center;
}

#band_photo {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.custom-file-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
}

.custom-file-input-wrapper {
  position: absolute;
  display: inline-block;
}

.custom-file-label {
  position: absolute;
  background-color: #FF082A;
  border: 2px solid white;
  padding: 6px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
}

#photo-input {
  top: 10em;
  left: 22em;
}

#avatar-input {
  top: 210px;
  left: 15em;
}

.name-input-page-creation {
  border: 2px solid white;
  border: 2px solid white;
  border-radius: 25px;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 11px 0px 11px 0px;
  margin: 0px 15px 18px;
}

.icon-page-creation {
  color: #A4A3A3;
  padding: 0px 8px 0px 23px;
}
