.band-container {
  margin-bottom: 74px;
}

.band-avatar {
  border-radius: 100px;
  width: 138px;
  height: 138px;
  position: absolute;
  object-fit: cover;
  inset: -69px 0 0;
  margin: auto;
}
.photo-default {
  border-radius: 50%;
  width: 138px;
  height: 138px;
  object-fit: cover;
}

.band-banner {
  width: 100%;
  height: 272px;
  object-fit: cover;
}

.btn-band-show {
  width: 92px;
  height: 28px;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.functions-band {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  padding: 20px 1.3rem;
}
.music-style {
  background: rgba(255, 8, 42, 0.43);
  border-radius: 6px;
  padding: 0.7em;
  width: fit-content;
  margin: auto;
  font-size: 10px;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.need-instrument-band {
  background: rgba(160, 10, 30, 0.934);
  border-radius: 6px;
  padding: 10px ;
  margin: auto;
  width:fit-content;
  font-size: 10px;
  position: absolute;
  top: 23px;
  right: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 12px;
}

.internal-padding {
  padding-top: 10px;
}

.city-band {
  position: absolute;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  background: rgba(0, 0, 0, 0.823);
  border-radius: 6px;
  padding: 9px ;
}

.position-city {
  right: 20px;
  top: 230px;
}

.dot-localisation {
  padding-right: 6px;
  margin-top: 2px;
}

.bio-band {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  margin: 15px 9px 24px 9px;
  text-align: justify;
}

//---// STYLE POP-UP //---//



.pop-body {
  border-radius: 25px;
}

.name-instrument {
  width: fit-content;
  margin-left: 15px;
}


.member-photo {
  border-radius: 50%;
  margin-right: 5px;
}
